<h1>Informações sobre a receita: <i><%= @recipe.name %></i> </h1>
<dl>
  <dt>
    <strong>Nome:</strong> <%= @recipe.name %>
  </dt>
  <dd>
    <strong>Tipo da receita:</strong> <%= @recipe.recipe_type %>
  </dd>

  <dd>
    <strong>Culinária:</strong> <%= @recipe.cuisine %>
  </dd>

  <dd>
    <strong>Ingredientes:</strong> <%= @recipe.ingredients %>
  </dd>

  <dd>
    <strong>Modo de preparo:</strong> <%= @recipe.cook_method %>
  </dd>

  <dd>
    <strong>Tempo de preparo:</strong> <%= @recipe.cook_time %>
  </dd>

</dl>
<%= link_to 'Editar', edit_recipe_path(@recipe) %> 
<%= link_to 'Apagar', recipe_path(@recipe), method: :delete,
    data: { confirm: 'Tem certeza que deseja apagar a receita?' }%>


<br />
<%= link_to 'Voltar', root_path %>
